@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-decorative: 200deg 75% 65%;
    --color-muted: 210deg 55% 92%;
    --color-homepage-light: 204deg 67% 85%;
    --color-homepage-dark: 202deg 71% 90%;
  }
}
