@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-decorative: 200deg 75% 65%;
    --color-muted: 210deg 55% 92%;
    --color-homepage-light: 204deg 67% 85%;
    --color-homepage-dark: 202deg 71% 90%;
    --color-gray-100: 225deg 25% 95%;
    --color-gray-200: 225deg 16% 90%;
    --color-gray-300: 225deg 8% 80%;
    --color-gray-400: 225deg 8% 70%;
    --color-gray-500: 225deg 7% 60%;
    --color-gray-600: 225deg 15% 50%;
    --color-gray-700: 225deg 12% 40%;
    --color-gray-900: 225deg 25% 20%;
    --color-gray-1000: 225deg 15% 15%;
    --color-syntax-bg: 225deg 25% 97%;
    --color-syntax-highlight: 225deg 25% 93%;
    --color-syntax-txt: 210deg 0% 16%;
    --color-syntax-comment: 203deg 35% 40%;
    --color-syntax-prop: 320deg 100% 43%;
    --color-syntax-bool: 296deg 100% 36%;
    --color-syntax-val: 197deg 15% 49%;
    --color-syntax-str: 248deg 100% 60%;
    --color-syntax-name: 276deg 100% 50%;
    --color-syntax-del: 0deg 100% 67%;
    --color-syntax-regex: 252deg 100% 43%;
    --color-syntax-fn: 216deg 100% 53%;
  }

  * {
    line-height: calc(1em + 0.725rem);
  }

  p {
    line-height: 32px;
  }

  h2 {
    @apply font-bold break-words;
  }
}

@layer components {
  #article > * + h2 {
    @apply mt-24;
  }
}

@layer utilities {
  .heading-2 {
    @apply text-base font-medium uppercase text-secondary tracking-[0.125em];
  }

  .drawing-first {
    stroke-dashoffset: 26;
    stroke-dasharray: 26;
  }

  .drawing-second {
    stroke-dashoffset: 18;
    stroke-dasharray: 18;
  }
}
